
{% load staticfiles %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href = "{% static "main/css/navbar.css"%}" rel = "stylesheet">


<script>
  $(document).ready(function() {
  $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
  $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});

</script>






<style>
    body{
      /* The image used */
      background-image: url("{% static "main/background/img7.jpg" %}");
  
  /* Set a specific height */
  height: 100%;
   
       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
    }
    
  .map-button{
    border: solid #0a40a4;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 50%;
    font-size: 26px;
    color: #1c4ca3;
    background: #86a8e7;
    font-color:#093992;
  }
  </style>
  
<!-- Bootstrap core CSS -->
<link href="{%static "main/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{%static "main/css/small-business.css"%}" rel="stylesheet">



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" style="float:left; font-size:40px; font-weight:bold;">JEEVAN</a>
    <div class="container">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item active">
                <a class="nav-link" href='#'>Share Your Innovation   
                  <span class="sr-only">(current)</span> &nbsp;&nbsp;
                </a> 
                </li>
    
          <li class="nav-item active">
            <a class="nav-link" href='{%url 'main:index'%}'>Home
              <span class="sr-only">(current)</span> &nbsp;&nbsp;
            </a> 
            </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
          </li> 
        </ul>
      </div>
    </div>
  </nav>



  </div>
        <div class="container">
          <div class="well well-sm">
              <strong>View Type</strong>
              <div class="btn-group">
                  <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                 </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                      class="glyphicon glyphicon-th"></span>Grid</a>
              </div>
          </div>
        

      <!--    
{%for d in disc%}
    <div id="products" class="">
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="{{d.image.url}}" height = "125px" width = "400px" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            {{d.name}}</h4>
                        <p class="group inner list-group-item-text">
                            {{d.description}}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                  {{d.location}}  </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                
                                <a class="btn btn-success"  href='#'  class = "detail-link">Details</a>  {% url 'main:disc-details' d.id%} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    {% endfor %}
-->