{%extends 'main/base.html'%}
{%load staticfiles%}
{%block title%}
    Jeevan: A smart means to conserve water
{%endblock%}
{%block content%}


<br>
<br>
<br>
<br>
<div class="container">

  <!-- Heading Row -->
  <center>
    <div class="row my-4">
      <div class="col-lg-8">
        <i mg class="img-fluid img-rounded" src="{%static "main/background/img3.jpg"%}" alt="">
      </div>

      
  <!-- /slide show thing !-->
      <!-- /.col-lg-8 -->   
      <div class="col-lg-4" style="background:rgba(51, 49, 49, 0.6)">
        <center><h1 style="color:rgb(255, 255, 255) "> Reduce Water Footprint</h1></center>
        <p style="font-family:Comic Sans MS;color:#ffffff " >Jeevan is a plotform for collective
          hand in hand collaboration to fight against day zero. The increasing demand of water supply and its over-exploitation 
          by the citizens has led to the reduction of groundwater level to its lowest till date We are a proud community who 
          have taken responsibility in doing our part for saving earth.
        </p>
        <center><a class="btn btn-primary btn-lg" href= "#">Market</a></center>
      </div>
      <!-- /.col-md-4 -->
    </div>
  </center>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary  text-center">
      <div class="card-body">
        <p class="text-white m-0">"If there is magic on this planet,
          <br/> it is contained in water.
          "</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Ground Water Data</h2>
            <p class="card-text">
              Ground water data is available from ISRO satelite showing the extend to which
              our resources are being deplicted. 
            </p>
          </div>
          <div class="card-footer">
            <a href='#' class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Join</h2>
            <p class="card-text">
              Join hands with people accross the globe in various plantation and enviromental campaigns
              to serve a better cause for our future.
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Discover</h2>
            <p class="card-text">There are a large number of innovation going on in the world to preserve and 
              use water resources in a judicious way.
            </p>
          </div><div class="card-footer">
              <a href="#" class="btn btn-primary">Visit</a>
            </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <br>
  <br>
  <br>
  <br>
  <!-- /.container -->
  {%endblock%}